* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  /* box-sizing: border-box; */
}

#video-container {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

#bg-video {
  width: 100%;
  height: 100%;
  object-fit: fill;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 95vw;
  height: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 auto;
  border-radius: 10px;
}
.canvas{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: absolute;
  width: 95%;
  z-index: 1; 
}